.about_banner_container {
  position: relative;
  height: calc(100dvh - 78px);
  overflow: hidden;

  .about_banner_wrapper {
    position: relative;
    height: 100%;
    
      padding: 0px 48px;

    .about_banner_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }

    .about_banner_content {
      position: absolute;
      inset: 0; /* covers full area */
      display: flex;
      justify-content: center;
      text-align: center;
      border-radius: 30px;
      z-index: 2;

      h1 {
        color: #2A1B63;
        padding-top: 50px;
        font-size: clamp(2rem, 3vw, 3rem);
        font-weight: 700;
        line-height: 1.3;
        margin: 0;
      }
    }
  }
}


.about_contents_wrapper{
    margin: 78px 0px;
    span{
        color: var(--YES-Blue, #2A1B63);
        font-weight: bolder;
    }
    p{
font-weight: 400;
font-size: 18px;
line-height: 25px;
letter-spacing: 0%;
text-align: justify;
    }
}

