// header_section
.header_section {
  z-index: 99;
  padding: 50px 186px;
  height: 78px;
  background-color: #ffffff;

  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  @media (max-width: 1199px) {
    height: 54px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
  }

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navlinks {
      display: flex;
      list-style-type: none;
      gap: 35px;

      li {
        .nav_link {
          position: relative;
          transition: color 0.3s ease;
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #000000;
          text-decoration: none;

          @media (max-width:1080px) {
            color: #ffffff;
          }
        }
        .nav_link::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -6px;
          width: 0%;
          height: 2px;
          background-color: #2a1b63; /* same as button color */
          transition: width 0.3s ease-in-out;
          border-radius: 2px;

          @media (max-width: 1080px) {
               background-color: #ffffff;
          }
        }
        .nav_link:hover::after {
          width: 100%;
        }
        .nav_link.active {
          color: #2a1b63;
          font-weight: 500;
          @media (max-width:1080px) {
            color: #ffffff;
          }
        }
        .nav_link.active::after {
          width: 100%;
        }
      }
    }
  }

  .button_container {
    margin-left: 80px;
    button {
      background-color: #2a1b63;
      color: #ffffff;
      padding: 12px 25px;
      border-radius: 8px;
      border: none;
      font-weight: 400;
      font-size: 16px;
      text-wrap: nowrap;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

/* --- Mobile Navigation --- */
@media (max-width: 1199px) {
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    padding: 30px 0px ;
    background-color:  #2a1b63;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease-in-out;
    z-index: 98;

    a {
      color: #ffffff;
    }
  }

  nav.open {
    right: 0;
  }

  nav .navlinks {
    flex-direction: column;
    gap: 25px;
  }

  nav .logo {
    display: none;
  }

  .button_container {
    display: none !important;
  }

  .mobile_toggle {
    z-index: 99;
    cursor: pointer;
  }
}
}



 .home_banner {
  position: relative;
  height: calc(100dvh - 78px);
      padding: 40px 48px 0px 48px;

  @media (max-width: 768px) {
    height: 100%;
    padding: 0 24px;
  }

  .home_banner_content {
    height: calc(100% - (78px - 60px));
    border-radius: 30px;
    overflow: hidden;

  }

  .banner_slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .banner_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .banner_slide::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    z-index: 1;
  }

  .banner_slide h1 {
    position: absolute;
    top: 50%;
    left: 48px;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
    max-width: 520px;

    @media (max-width: 768px) {
      font-size: 1.5rem;
      left: 30px;
      max-width: 80%;
    }
  }

  /* --- Navigation Buttons --- */
  .banner_nav {
    position: absolute;
    top: 50%;
color: #ffffff;
    transform: translateY(-50%);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }


  .prev_btn {
    left: 50px;
    @media (max-width:1080px) {
      left: 24px;
    }
  }

  .next_btn {
    right: 50px;
        @media (max-width:1080px) {
      right: 24px;
    }
  }

  /* --- Pagination Dots --- */
  .banner_pagination {
display: none;
  }
}





///////////////////////

.mission_vision_section {
  display: flex;
  align-items: center;
  justify-self: center;

  // padding: 0 80px;


  opacity: 0;
  transition: all 0.8s ease-in-out;

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &.visible {
    top: 0;
    opacity: 1;
      position: relative;
  top: -80px;
  z-index: 1;
  }

  .count_section {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 60px;

    .stat_card {
      display: grid;
      gap: 20px;

      @media (max-width: 1080px) {
        gap: 0;
      }

      h2 {
        color: #000000;
        font-weight: bolder;
      }
    }
  }

  .mission_visions {
    display: grid;
    place-items: center;
    padding: 60px;
    gap: 50px;

    width: 100%;
    background-color: #2a1b63;
    border-radius: 30px;

    .mission_vision {
      color: #ffffff;

      display: grid;
      gap: 13px;

      h2 {
        color: var(--heading-color);
      }
      p {
        color: var(--heading-color);
        text-align: justify;
      }
    }
  }
}
