:root {
  --primary-color: #2a1b63;
  --body-bg-color: #a5874c;
  --heading-color: #ffffff;
  --paragraph-color: #000000;
  --content-color: #d9d9d9;
  --white: #ffffff;
  --nav-link-color: #cbcbcb;
  --footer-bg: "transparent";
  --box-bg-color: #ffffff;


    /* === FONT VARIABLES === */
  --font-primary: "Gilroy-Medium", sans-serif;
  --font-bold: "Gilroy-Bold", sans-serif;
  --font-display: var(--font-funnel-display), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background-color: #ffffff;

  //     background-color: var(--body-bg-color);
  //   font-family: var(--font-dm-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
}

h1 {
  color: var(--primary-color);
  font-family: var(--font-funnel-display);
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
  line-height: 1.2;

  @media (max-width: 1440px) {
    line-height: 100%;
  }
}

h2 {
  // font-family: Funnel Display;
//   font-weight: 500;
//   font-size: 30px;
//   line-height: 100%;
//   letter-spacing: 0%;
  font-family: var(--font-funnel-display);
      font-size: 2.2rem;
      color: var(--primary-color);
      font-weight: 500;
    //   margin-bottom: 0.5rem; 
}

span {
  color: var(--primary-color);
  font-weight: bolder;
}

p {
  color: var(--paragraph-color);
  font-weight: 300;
  font-size: 20px;
  // font-size: 18px;
  // line-height: 25px;
    line-height: 1.6;
  letter-spacing: 0%;
  //   text-align: justify;

  @media (max-width: 768px) {
    font-weight: 0;
font-size: 14px;
line-height: 18px;
  }
}
